.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 30px;
}

.todo-list-item-title {
  margin-left: 5px;
}

.todo-list-item-buttons {
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.todo-list-item-button {
  width: 30px;
}
